.movesContainer {
    background-color: #fcf3e8;
    width: 20rem;
    max-height: 80rem;
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.moves {
    font-size: 1.5rem;
    max-height: 77rem;
    overflow-y: auto;
    padding-left: 0.5rem;
}

.moveContainer {
    margin: 0.4rem 0;
}

.move {
    font-size: 1.5rem;
    margin: 0 0.5rem;
}

.outcome {
    display: block;
    margin: 1rem 0;
}
