.movesContainer {
    padding: 0.5rem;
    width: 20vw;
    max-height: 80rem;
    overflow-y: auto;
    font-size: 1.5rem;
}

.moveContainer {
    margin: 0.4rem 0;
}

.move {
    font-size: 1.5rem;
    margin: 0 0.4rem;
}

.outcome {
    display: block;
    margin: 1rem 0;
}
