.square {
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: #b58863;
}

.white {
    background-color: #f0d9b5;
}
